--weights=./703808.pb.gz                             
--move-overhead=100                                  # Increase if your bot flags games too often
--backend-opts=7                                     # Max CPU threads the engine can use
--nncache=128                                        # Max memory (in megabytes) the engine can allocate   


# Explanation for all Parameters > https://lczero.org/play/flags/#parameters-list
